<% include header %>

    <div class="player-list">
        <ul>
            <% data.playList.forEach((item, index) => { %>
                <li
                    data-id="<%- item.id %>"
                    data-title="<%- item.name %>"
                    data-pic="<%- item.picUrl %>"
                    data-flex="cross-center"
                    >
                    <span class="num"><%- index + 1 %></span>
                    <span class="title"><%- item.name %></span>
                </li>
            <% }) %>
        </ul>
    </div>

<% include footer %>